Django
whitenoise
celery[redis]
django-celery-results
django-celery-beat
channels[daphne]
channels-redis
requests
redis[hiredis]
psycopg
django-cors-headers
pillow
django-storages[azure]
djangorestframework
django-allauth
django-paypal
pymemcache
openai