{% load static %}
<!doctype html>
<head>
    <!-- <link rel="manifest" href="{% static 'manifest.json' %}"> -->
    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Augmego</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'css/fontawesome-free-5.15.2-web/css/all.min.css' %}" rel="stylesheet" ></link>
    <link rel="icon"href="{% static 'favicon.ico' %}">
</head>
<html>
   <body>
      <!-- Login Modal -->
      <div class="modal" id="loginModal" aria-labelledby="loginModalLabel">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="loginModalLabel">Login</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Help Modal -->
      <div class="modal" id="helpModal" aria-labelledby="helpModalLabel">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="helpModalLabel">Help</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Please contact <a href="mailto:support@augmego.com">support</a> if the following tutorials do not answer your questions.
              {% for t in tutorials %}
                <br>
                <br>
                <hr>
                <h5>{{t.name}}</h5>
                <p>{{t.text}}</p>
                <img src="{{ t.image.url }}" alt="{{t.name}}" width="450">
              {% endfor %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Settings Modal -->
      <div class="modal" id="settingsModal" aria-labelledby="settingsModalLabel">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="settingsModalLabel">Settings</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h5>1. Profile</h5>
              <input type="text" id="changeNameInput" name="changeNameInput" placeholder="{{ user_name }}">

              <button class="btn btn-primary command" data-command="changeName">Change Display Name</button>
              </br></br>

              <h5>2. Authentication</h5>
              <input type="password" id="changePasswordInput" name="changePasswordInput" placeholder="password">

              <button class="btn btn-primary command" data-command="changePassword">Change Password</button>
              </br></br>


              <h5>3. Recovery</h5>
              <input type="email" id="changeEmailInput" name="changeEmailInput" placeholder="email">

              <button class="btn btn-primary command" data-command="changeEmail">Change Email</button>
              </br></br>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Actions Modal -->
      <div class="modal" id="exampleModal" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Actions</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
              <button class="btn btn-primary command" data-command="toggleLandClaimView">Toggle Land Owner View</button>
              </br></br>
              <!-- <button class="btn btn-primary command" data-command="buyLand">Buy The Land I'm Standing On.</button>
              </br></br> -->
              
              <input type="text" id="createTextureName" name="createTextureName" placeholder="Name">
              <input type="text" id="createTextureDescription" name="createTextureDescription" rows="2" cols="50" placeholder="description">
              </br>
              <button class="btn btn-primary command" data-command="createTexture">Create A Block Texture From the Description Above</button>
              
              </br></br>
              <button class="btn btn-primary command" data-command="toogleFirstPerson">Toggle First/Third Person</button>
              <!-- </br></br>
              <button class="btn btn-primary command" data-command="toogleWalkPerson">Toggle Walk/Run</button> -->

              </br></br>
              <input type="number" id="fastTravelX" name="fastTravelX" placeholder="X" value="0">
              </br>
              <input type="number" id="fastTravelY" name="fastTravelY" placeholder="Y" value="0">
              </br>
              <input type="number" id="fastTravelZ" name="fastTravelZ" placeholder="Z" value="0">
              </br>
              <button class="btn btn-primary command" data-command="fastTravel">Fast Travel</button>
              
               
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Blocks Modal -->
      <div class="modal" id="blocksModal" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Blocks</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="toggleMouse mb-3">
                  <img class="toggleMouseOption" data-type="destroy" style="border: solid 2px green;" src="{% static 'images/destory-block.png' %}" alt="Toggle block destory on">
                  <br><br>
                  <div id="selectedMaterial" style="border: solid 2px red;"></div>
                  
              </div>
              <div id="texturePanel" class="toggleMouse" style="overflow: scroll;">
              </div>
               
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- generalToast -->
      <div id="generalToast" class="toast" style="position: absolute; z-index: 20; top: 10px; right: 10px;" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
          replace me.
        </div>
      </div>

      <!-- loadingSpinner -->
      <div id="loadingSpinner" class="spinner-border text-primary" style="position: absolute; z-index: 25; top: 30px; right: 30px; height: 200px; width: 200px;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      
      <div allow="autoplay">
         <div id="threeJSContainer">
            <!-- <button id="welcomePage" class="btn btn-success"
               style="position: absolute; top: 50vh; left: 50vw;
               transform: translate(-50%, -50%);
               width: 70vw;
               height: 75vh;
               border: solid 3px black; z-index: 11;
            ">
               Click me to start!
            </button> -->
            
         </div>
         <div id="hud" allow="autoplay">
            <!-- <div style="position: absolute; top: 5px; right: 5px; z-index: 10;">
              <span style="display: none; font-size: 2em; background-color: black;" id="myDisplayName"></span>
            </div> -->
            <!-- <video autoplay class="local-video" id="local-video-2" style="display: none; background: black; width: 15vw; height: 15vw; max-height: 15vh; max-width: 15vh; position: absolute; top: 60px; left: 5px; z-index: 10;"></video> -->
            
            <div id="ui" ref="ui">
              <div>
                <span style="position: absolute; z-index: 15; top: 10px; left: 10px;">
                
                  <video autoplay muted playsinline class="local-video" id="local-video-1" style="background: black; width: 15vw; height: 15vw; max-height: 15vh; max-width: 15vh; z-index: 10;"></video>
                  </br>

                  <h5 style="background: white;" id="screenName">{{ user_name }}</h5>

                  <h5 style="background: white;" id="amicaTotal">{{ amica }}</h5>

                  <!-- <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#loginModal">
                    Login
                  </button> -->
                  
                  <a href="{% url 'account_logout' %}" class="btn btn-warning" style="color: white;">Logout</a>
                  </br>
                  </br>

                  

                  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#settingsModal">
                    Settings
                  </button>
                  </br></br> -->

                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#helpModal">
                    Help
                  </button>
                  </br></br>
                  
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Actions
                  </button>
                  </br></br>

                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#blocksModal">
                    Blocks
                  </button>
                </span>
                <!-- <iframe id="globalChatIframe" title="Global Chat" style="display: none; position: absolute; top: 45px; left: 0; width: 25vw; height: 20vh; z-index: 4;"></iframe> -->
              </div>
              <!-- WASD -->
              <!-- <div
                style="width: 25vw; height: 10vh; max-height: 20vh; max-width: 15vh; position: absolute; top: 70vh; left: 5vw; transform: translate(0, -50%); border: solid 3px black; z-index: 10;"
              >
                <table>
                  <tbody>
                    <tr>
                      <td><button id="buttonQ" class="buttonQWEASD btn btn-warning">Q</button></td>
                      <td><button id="buttonW" class="buttonQWEASD btn btn-warning">W</button></td>
                      <td><button id="buttonE" class="buttonQWEASD btn btn-warning">E</button></td>
                    </tr>
                    <tr>
                      <td><button id="buttonA" class="buttonQWEASD btn btn-warning">A</button></td>
                      <td><button id="buttonS" class="buttonQWEASD btn btn-warning">S</button></td>
                      <td><button id="buttonD" class="buttonQWEASD btn btn-warning">D</button></td>
                    </tr>
                  </tbody>
                </table>
              </div> -->
              <!-- Rotation -->
              <div
                id="rightJoystick"
                style="width: 25vw; height: 25vw; max-height: 20vh; max-width: 20vh; position: absolute; top: 75vh; left: 60vw; transform: translate(0, -50%); border: solid 3px black; z-index: 10;"
              ></div>
              <div
                id="rightJoystickSymbol"
                style="position: absolute; z-index: 9; font-size: xxx-large; line-height: 0;"
              >
                <i class="fas fa-expand-arrows-alt"></i>
              </div>
              <div
                id="rightJoystickBackground"
                style="width: 25vw; height: 25vw; max-height: 20vh; max-width: 20vh; position: absolute; top: 75vh; left: 60vw; transform: translate(0, -50%); border: solid 3px black; z-index: 8; background-color: rgba(100, 150, 100, 0.6)"
              >
                <div
                style="width: 100%; position: absolute; top: 20%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></div>
                <div
                style="width: 100%; position: absolute; top: 37.5%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></div>
                <div
                style="width: 100%; position: absolute; top: 62.5%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></div>
                <div
                style="width: 100%; position: absolute; top: 80%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></div>
      
                <span
                style="height: 100%; width: 0px; position: absolute; top: 0; left: 20%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></span>
                <span
                style="height: 100%; width: 0px; position: absolute; top: 0; left: 37.5%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></span>
                <span
                style="height: 100%; width: 0px; position: absolute; top: 0; left: 62.5%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></span>
                <span
                style="height: 100%; width: 0px; position: absolute; top: 0; left: 80%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></span>
              </div>
      
              <!-- <div id="left joysticks"> -->
              <!-- Position -->
              <div
                id="leftJoystick"
                style="width: 25vw; height: 25vw; max-height: 20vh; max-width: 20vh; position: absolute; top: 75vh; right: 60vw; transform: translate(0, -50%); border: solid 3px black; z-index: 10;"
              ></div>
              <div
                id="leftJoystickSymbol"
                style="position: absolute; z-index: 9; font-size: xxx-large; line-height: 0;"
              >
                <i class="fas fa-arrows-alt"></i>
              </div>
              <div
                id="leftJoystickBackground"
                style="width: 25vw; height: 25vw; max-height: 20vh; max-width: 20vh; position: absolute; top: 75vh; right: 60vw; transform: translate(0, -50%);border: solid 3px black; z-index: 8; background-color: rgba(100, 150, 100, 0.6)"
              >
                <div
                style="width: 100%; position: absolute; top: 20%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></div>
                <div
                style="width: 100%; position: absolute; top: 37.5%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></div>
                <div
                style="width: 100%; position: absolute; top: 62.5%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></div>
                <div
                style="width: 100%; position: absolute; top: 80%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></div>
      
                <span
                style="height: 100%; width: 0px; position: absolute; top: 0; left: 20%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></span>
                <span
                style="height: 100%; width: 0px; position: absolute; top: 0; left: 37.5%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></span>
                <span
                style="height: 100%; width: 0px; position: absolute; top: 0; left: 62.5%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></span>
                <span
                style="height: 100%; width: 0px; position: absolute; top: 0; left: 80%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></span>
      
              </div>
              <!-- Altitude THIS IS HIDDEN -->
              <button id="jumpButton" style="position: absolute; bottom: 15vh; left: 50vw; transform: translate(-50%, 0%);border: solid 3px black; z-index: 8; background-color: rgba(100, 150, 100, 0.6)"
              >Jump</button>
              <div style="display: none;">
              <div
                id="middleJoystick"
                style="width: 10vw; height: 25vw; max-height: 20vh; max-width: 5vh; position: absolute; top: 75vh; left: 50vw; transform: translate(-50%, -50%); border: solid 3px black; z-index: 10;"
              ></div>
              <div
                id="middleJoystickSymbol"
                style="position: absolute; z-index: 9; font-size: xxx-large; line-height: 0; transform: translate(50%, 0);"
              >
                <i class="fas fa-arrows-alt-v"></i>
              </div>
              <div
                id="middleJoystickBackground"
                style="width: 10vw; height: 25vw; max-height: 20vh; max-width: 5vh; position: absolute; top: 75vh; left: 50vw; transform: translate(-50%, -50%); border: solid 3px black; z-index: 8; background-color: rgba(100, 150, 100, 0.6)"
              >
                <div
                style="width: 100%; position: absolute; top: 20%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></div>
                <div
                style="width: 100%; position: absolute; top: 37.5%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></div>
                <div
                style="width: 100%; position: absolute; top: 62.5%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></div>
                <div
                style="width: 100%; position: absolute; top: 80%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></div>
      
              </div>
              </div>
              <!-- Zoom tool This is hidden! -->
              <div style="display: none;">
              <div
                id="middle2Joystick"
                style="width: 25vw; height: 10vw; max-height: 5vh; max-width: 20vh; position: absolute; top: 65%; left: 12.5vw; transform: translate(-50%, 0); border: solid 3px black; z-index: 10;"
              ></div>
              <div
                id="middle2JoystickSymbol"
                style="position: absolute; z-index: 9; font-size: xxx-large; line-height: 0;"
              >
                <i class="fas fa-search-plus"></i>
              </div>
              <div
                id="middle2JoystickBackground"
                style="width: 25vw; height: 10vw; max-height: 5vh; max-width: 20vh; position: absolute; top: 65%; left: 12.5vw; transform: translate(-50%, 0); border: solid 3px black; z-index: 8; background-color: rgba(100, 150, 100, 0.6)"
              ><span
                style="height: 100%; width: 0px; position: absolute; top: 0; left: 20%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></span>
                <span
                style="height: 100%; width: 0px; position: absolute; top: 0; left: 37.5%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></span>
                <span
                style="height: 100%; width: 0px; position: absolute; top: 0; left: 62.5%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></span>
                <span
                style="height: 100%; width: 0px; position: absolute; top: 0; left: 80%; border: dashed 1px rgba(150, 100, 100, 1);"
                ></span>
      
              </div>
              </div>
              <!-- </div> -->
            </div>
      
            <div>
            <div
              id="middleItem"
              style="width: 20vw; height: 20vw; max-height: 15vh; max-width: 15vh; position: absolute; bottom: 20vh; left: 50vw; transform: translate(-50%, 0); border: solid 3px green; z-index: 10;"
            ></div>
            <div
              id="middleItemSymbol"
              style="position: absolute; z-index: 9; font-size: xxx-large; line-height: 0;"
            >
              <i class="fas fa-compress-arrows-alt"></i>
            </div>
            <div
              id="middleItemBackground"
              style="width: 20vw; height: 20vw; max-height: 15vh; max-width: 15vh;  overflow: hidden; position: absolute; bottom: 20vh; left: 50vw; transform: translate(-50%, 0); border: solid 3px green; z-index: 8;"
            >
              <img id="middleItemBackgroundImg" src="{% static 'images/destory-block.png' %}" width="100%" height="100%">
            </div>
            </div>
      
            <div
              id="centerPoint"
              style="position: absolute; top: 50vh; left: 50vw; border: solid 3px green; z-index: 8; transform: translate(-50%, -50%);"
            ></div>
            <!-- <div id="threeJSContainer"></div> -->
            <div id="info">
              <!-- <a href="http://threejs.org" target="_blank" rel="noopener">three.js</a> - indexed instancing (single box), dynamic updates -->
              <div id="notSupported" style="display:none">
                Sorry your graphics card + browser does not support hardware instancing
              </div>
            </div>
          </div>
      </div>
      <div style="display: none;">
         {% csrf_token %}
      </div>
      <!-- <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('{% static "serviceworker.js" %}')
            .then(function(registration) {
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            })
            .catch(function(error) {
                console.log('ServiceWorker registration failed: ', error);
            });
        }
      </script> -->
     <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>
     <script src="{% static 'three/three.module.min.js' %}" type="module"></script>
     <script src="{% static 'three/OrbitControls.js' %}" type="module"></script>
     <script src="{% static 'three/DRACOLoader.js' %}" type="module"></script>
     <script src="{% static 'three/GLTFLoader.js' %}" type="module"></script>
     <script src="{% static 'three/CSS3DRenderer.js' %}" type="module"></script>
     <script src="{% static 'three/BufferGeometryUtils.js' %}" type="module"></script>
     <!-- Context specific variables-->
         <script type="text/javascript">
            const csrfmiddlewaretoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const webcamUrl = '{% url "game:webcam" %}';
            const generateImageUrl = '{% url "game:generate_image" %}';
            const webPageLoadURL = '{% url "webpage:list" %}'
            const cubeLoadURL = '{% url "cube:list" %}'
            const cubePostURL = '{% url "cube:post" %}'
            const chunkInfoURL = '{% url "cube:chunk_info" %}';
            const chunkPurchaseURL = '{% url "cube:chunk_purchase" %}';
            const textureLoadURL = '{% url "texture:list" %}'
            const textureAtlasLoadURL = '{% url "texture:get_texture_atlas" %}'
            const fetchAmicaURL = '{% url "person:fetch_amica" %}'
            const changeNameURL = '{% url "person:change_name" %}'
            const changePasswordURL = '{% url "person:change_password" %}'
            const changeEmailURL = '{% url "person:change_email" %}'
            let my_name = "{{ user_name }}";
            let avatar = "{{ avatar }}";
            let myUuid = Math.random().toString();
            let favicon = "{% static 'favicon.ico' %}";
            const walkPng = "{% static 'images/walk.png' %}";
            const wwwPng = "{% static 'images/www.png' %}";
            const blockPng = "{% static 'images/block.png' %}";
            const atSymbolPng = "{% static 'images/at-symbol.png' %}";
            const expandArrowsPng = "{% static 'images/expand-arrows.png' %}";
            const destoryBlockPng = "{% static 'images/destory-block.png' %}";
            // These textures are overloaded in the initTexturPanel
            let grassTexture = "{% static 'images/grass-texture.png' %}";
            let dirtTexture = "{% static 'images/dirt-texture.png' %}";
            let barkTexture = "{% static 'images/bark-texture.png' %}";
            let pineTreeLeavesTexture = "{% static 'images/pine-tree-leaves-texture.png' %}";
            let buySignTexture = "{% static 'images/buy-sign.jpg' %}"
            let ownedSignTexture = ""
            let soldSignTexture = ""
            let yellowGravelTexture = ""
            let blackGravelTexture = ""
            let whiteGravelTexture = ""
            let concreteTexture = ""
            const cesiumManUrl = "{% static 'animations/cesium_man/CesiumMan.gltf' %}";
            const F_Jog_001 = "{% static 'animations/F_Jog_001.glb' %}";
         </script>
      <!-- Start script-->
         <script type="text/javascript">
            // let stopAnimate = true;
            // let welcomePage = document.getElementById("welcomePage");
            // welcomePage.onmousedown = onClickStart;
            // function onClickStart(event){
            //    event.preventDefault();
            //    event.stopPropagation();
               
              //  welcomePage.style.display = "none";
               // let toggleMouse = document.getElementsByClassName("toggleMouse");
               // toggleMouse.style.display = "block";
              //  $(".toggleMouse").css("display", "block")
              //  $("#globalChatIframe").css("display", "block")

            //    stopAnimate = false;
            // }
            // function disabledIframeClicks(obj){
            //    // Stop the mouse from interacting with iframes when they first load.
            //    // It's located here because iframes are outside the scope of modules.
            //    $(obj).css('pointer-events', 'none');
            // }
         </script>
      <!-- Scripts -->
     <!-- <script src="{% static 'main/initCameraPermissions.js' %}" type="module"></script> -->
     <script src="{% static 'main/initSelfCam.js' %}" type="module"></script>
     <script src="{% static 'main/main.js' %}" type="module"></script>
     <script src="{% static 'main/QWEASD.js' %}" type="module"></script>
     <script src="{% static 'main/controls.js' %}" type="module"></script>
     <script src="{% static 'main/shaders.js' %}" type="module"></script>
     <script src="{% static 'main/perlin.js' %}" type="module"></script>
     <script src="{% static 'main/redrawObjects.js' %}" type="module"></script>
     <script src="{% static 'main/player.js' %}" type="module"></script>
     <script src="{% static 'main/raycaster.js' %}" type="module"></script>
     <script src="{% static 'main/animate.js' %}" type="module"></script>
     <script src="{% static 'main/entity.js' %}" type="module"></script>
     <script src="{% static 'main/socketConnection.js' %}" type="module"></script>
     <script src="{% static 'main/sendPlayerData.js' %}" type="module"></script>
     <script src="{% static 'main/mouseClicks.js' %}" type="module"></script>
     <script src="{% static 'main/webpage3d.js' %}" type="module"></script>
     <script src="{% static 'main/webpage3dload.js' %}" type="module"></script>
     <script src="{% static 'main/drawBlock.js' %}" type="module"></script>
     <script src="{% static 'main/chunk.js' %}" type="module"></script>
     <script src="{% static 'main/removeBlock.js' %}" type="module"></script>
     <script src="{% static 'main/initTexturePanel.js' %}" type="module"></script>
     <script src="{% static 'main/initObjects.js' %}" type="module"></script>
     <script src="{% static 'main/initWebcamPage.js' %}" type="module"></script>
     <script src="{% static 'main/amica.js' %}" type="module"></script>
     <script src="{% static 'main/commands.js' %}" type="module"></script>
     <script src="{% static 'main/onWindowResize.js' %}" type="module"></script>
     <script src="{% static 'main/createTexture.js' %}" type="module"></script>
     <script src="{% static 'main/changeName.js' %}" type="module"></script>
     <script src="{% static 'main/changePassword.js' %}" type="module"></script>
     <script src="{% static 'main/changeEmail.js' %}" type="module"></script>
   </body>
</html>