{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ready Player Me Character Animation</title>
    <style>
        body { margin: 0; }
        canvas { display: block; }
    </style>
</head>
<body>
    <script type="module">
        import * as THREE from "{% static 'three/three.module.min.js' %}";
        import { GLTFLoader } from "{% static 'three/GLTFLoader.js' %}";

        let scene, camera, renderer, mixer, clock;
        let playerWrapper = new THREE.Object3D;

        init();
        animate();

        function init() {
            scene = new THREE.Scene();
            camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
            renderer = new THREE.WebGLRenderer({ antialias: true });
            renderer.setSize(window.innerWidth, window.innerHeight);
            document.body.appendChild(renderer.domElement);

            clock = new THREE.Clock();

            const light = new THREE.AmbientLight(0xffffff, 1.0);
            scene.add(light);

            camera.position.set(0, 1.6, 3);

            const gltfLoader = new GLTFLoader();
            gltfLoader.load('https://models.readyplayer.me/64ea136842c59d7dceab60d8.glb', function (gltf) {
                playerWrapper = gltf.scene;
                

                // playerWrapper.add(model);
                // playerWrapper.position.x = 1.0;
                scene.add(playerWrapper);

                mixer = new THREE.AnimationMixer(playerWrapper);

                // Load animations
                gltfLoader.load("{% static 'animations/F_Jog_001.glb' %}", function (animGltf) {
                    animGltf.animations.forEach(clip => {
                        // Adjust the clip to avoid affecting the root position
                        clip.tracks = clip.tracks.filter(track => !track.name.includes('position'));

                        const action = mixer.clipAction(clip);
                        action.play();
                    });
                    console.log("done", animGltf)
                }, undefined, function (error) {
                    console.error(error);
                });

            }, undefined, function (error) {
                console.error(error);
            });
        }

        function animate() {
            requestAnimationFrame(animate);
            const delta = clock.getDelta();
            if (mixer) mixer.update(delta/4.0);
            renderer.render(scene, camera);
            playerWrapper.position.x += 0.005
        }

        window.addEventListener('resize', onWindowResize, false);

        function onWindowResize() {
            camera.aspect = window.innerWidth / window.innerHeight;
            camera.updateProjectionMatrix();
            renderer.setSize(window.innerWidth, window.innerHeight);
        }
    </script>
</body>
</html>
