{% load static %}
<!doctype html>
<head>
    <title>Hello Azure - Python Quickstart</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="icon"href="{% static 'favicon.ico' %}">
</head>
<html>
   <body>
      <div allow="autoplay">
         <div id="threeJSContainer">
            <div id="deadZone" style="position: absolute;
            top: 50vh; left: 50vw; width: 10vw; height: 20vh;
            border: dashed 2px red; z-index: 10;
            transform: translate(-50%, 0%);"></div>
         </div>
      </div>
     <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
     <script src="{% static 'three/three.module.js' %}" type="module"></script>
     <script src="{% static 'three/OrbitControls.js' %}" type="module"></script>
     <script src="{% static 'three/DRACOLoader.js' %}" type="module"></script>
     <script src="{% static 'three/GLTFLoader.js' %}" type="module"></script>
     <script src="{% static 'three/CSS3DRenderer.js' %}" type="module"></script>
     <!-- Context specific variables-->
         <script type="text/javascript">
            const webcamUrl = '{% url "game:webcam" %}';
            let my_name = "Bob-"+Math.random().toString();
            let myUuid = Math.random().toString();
            let favicon = "{% static 'favicon.ico' %}";
         </script>
      <!-- Webcam feed and iframes require the user interact with the oage first -->
         <script type="text/javascript">
            window.alert("I agree I am 18 years or older or have parental consent.");
         </script>
      <!-- Scripts -->
     <script src="{% static 'main/main.js' %}" type="module"></script>
     <script src="{% static 'main/shaders.js' %}" type="module"></script>
     <script src="{% static 'main/terrain.js' %}" type="module"></script>
     <script src="{% static 'main/player.js' %}" type="module"></script>
     <script src="{% static 'main/raycaster.js' %}" type="module"></script>
     <script src="{% static 'main/animate.js' %}" type="module"></script>
     <script src="{% static 'main/entity.js' %}" type="module"></script>
     <script src="{% static 'main/socketConnection.js' %}" type="module"></script>
     <script src="{% static 'main/sendPlayerData.js' %}" type="module"></script>
   </body>
</html>