<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Augmego{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <div style="position: absolute;">
    <div>Hi {{ user.username }}!</div>
    <div><a href="{% url 'logout' %}">Log Out</a></div>
    <div><a href="{% url 'password_reset' %}">Reset Password</a></div>
  </div>
  {% block game %}
  {% endblock %}
{% else %}
  <div>You are not logged in</div>
  <div><a href="{% url 'login' %}">Log In</a></div>
  <div><a href="{% url 'signup' %}">Sign Up</a></div>
  <div><a href="{% url 'password_reset' %}">Reset Password</a></div>
{% endif %}
{% endblock %}