{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M2FMRW5T68"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-M2FMRW5T68');
    </script>
    <meta charset="UTF-8">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Augemgo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css"> -->
    <style>
        body {
            background: #f8f9fa;
        }
        .navbar {
            margin-bottom: 2rem;
        }
        .jumbotron {
            background: #fff;
            padding: 2rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .footer {
            background: #343a40;
            color: #fff;
            padding: 1rem 0;
            text-align: center;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Augmego</a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <!-- <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div> -->
    </nav>

    <div class="container">
        <div class="jumbotron">
            <p class="lead">Are you on the go and want people to know?</p>
            <h1 class="display-4">Welcome to Augmego!</h1>
            <p class="lead">The augmented friendship network.</p>
            <hr class="my-4">
            <!-- <p>Click the button below to start your adventure instantly. (You will need to sign up and login to save your progress.)</p>
            <a class="btn btn-primary btn-lg" href="{% url 'nosignup' %}" role="button">Play Now</a>
            <hr class="my-4"> -->
            <p>Already have an account?</p>
            <a href="{% url 'account_login' %}" class="btn btn-success btn-lg" style="color: white;">Login</a>
            <hr class="my-4">
            <p>Sign up to save your progress.</p>
            <a href="{% url 'account_signup' %}" class="btn btn-primary btn-lg" style="color: white;">Sign Up</a>

        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Augmego. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('{% static "serviceworker.js" %}')
            .then(function(registration) {
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            })
            .catch(function(error) {
                console.log('ServiceWorker registration failed: ', error);
            });
        }
      </script>
</body>
</html>
